.navbar{
    color: blue;
}
.table{
    border: 2px solid black;
}
body {
    background-color: cadetblue;
}
.barStyle {
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}